<%- contentFor('articles') %>

        <body>
               
            
                        <h1></h1>
                        <img src="images/<%= obj.img %>" class="img-responsive" alt="">

                        <h1>
                                <%=obj.title%>
                        </h1>
                

        </body>