<%- contentFor('titre') %>

    <h4 class="text-center">Creation d'article</h4>

    <%- contentFor('menu') %>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form action="/dashboard/createarticle" enctype="multipart/form-data" method="post">
                        <input type="file" name="img" class='btn btn-primary' >

                        <div class="form-group">
                            <label for="titre">Titre</label>
                            <input class="form-control input-lg" type="text" name="title" placeholder="Titre">
                        </div>

                        <div class="form-group">
                                <label for="date">Date</label>
                                <input class="form-control input-lg" type="date" name="date" placeholder="Date">
                            </div>
                        
                            <div class="form-group">
                                    <label for="preview">Aperçu</label>
                                  <input class="form-control input-lg" type="text" name="preview" placeholder="Apercu de l'article">
                                </div>

                        <div class="form-group">
                            <label for="content"> Contenu de l'Article</label>
                            <textarea name="content" placeholder="Résumé de l'article" class="form-control" type="text" cols="30" rows="5"></textarea>
                        </div>
                        <p class="text-center">
                            <button type="submit" class="btn btn-warning btn-lg">Publier</button>
                            <button formaction="/dashbord/createbrouillon" type="submit" class="btn btn-warning btn-lg">Sauvegarde en brouillon</button>

                        </p>
                    </form>

                </div>

            </div>