      /*================ SIGNUP ======================*/

    .signup {
        /* padding-top: 77px; */
        padding-bottom: 9%;
        background: #000;
    }

    .signup h1 {
        color: #fff;
    }

    .signup label {
        color: #fff;
    }

    .signup p {
        color: #fff;
    }

    .signup hr {
        margin-top: 35px;
        padding-top: 5px;
    }
    /* =============== LOGIN  ======================*/

    .login {
        padding-top: 161px;
        padding-bottom: 20%;
        background: #000;
    }

   .login p {
        color: #fff;
    }

    .login h1 {
        color: #fff;
    }

    .login label {
        color: #fff;
    }

    .login hr {
        margin-top: 30px;
        padding-top: 5px;
    }
    
    /* ========== ERROR 404 ================= */

    .error {
        background: #06162D;
        color: #E1A10D;
        padding: 23%;
    }

    .error p {
        font-weight: bold;
        font-size: 40px;
    }
    
    /* =======Itineraire=========*/

    .btn-group-lg>.btn,
    .btn-lg {
        border-radius: 0px;
    }

    .lieux-visite {
        padding-top: 30px;
        padding-bottom: 30px;
        color: #06162B;
        position: relative;
        top: 47px;
    }

    #banniere-img {
        height: 550px;
        margin-bottom: 261px;
        margin-top: -171px;
        z-index: 232;
    }

    .box-inside-head {
        /* height: 322px; */
        padding: 10px;
        background: #F5F2F2;
        margin-top: 480px;
        text-align: center;
        border: 0.5px solid #E2DDDD;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 64px;
        padding-bottom: 30px;
        position: auto;
    }

    .box-inside-head h1 {
        color: #04152b;
    }

    .box-inside-head p {
        font-size: 19px;
    }

    .box-inside-head a {
        color: white;
    }

    .box-inside-head h4 {
        color: #BEBBBB
    }

    .btn-lg {
        margin: 10px;
        color: white;
    }

    .back i {
        color: white;
        right: 1em;
    }

    .itineraire-img img {
        height: 500px;
    }
    
    /*=============== Admin Card ===================*/
    /* === dashbord === */

    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }

    .btn-warning {
        text-transform: uppercase;
        background: #F1B244;
        border: none;
        border-radius: 0px;
        /* margin-right: 10px; */
        font-size: 17px;
        width: 160px;
    }

    .btn-danger {
        padding: 5px;
        height: 40px;
        text-transform: uppercase;
        margin-top: 60px;
        border: none;
        margin-right: 30px;
    }

    .btn-success {
        padding: 5px;
        height: 40px;
        text-transform: uppercase;
        margin-top: 60px;
        border: none;
        margin-right: 1px;
    }

    .voyageTitre {
        margin-bottom: 60px;
        font-family: 'Robot', sans-serif;
        font-size: 35px;
        padding-top: 30px;
    }

    .descriptif {
        margin-top: -1px;
        background: #F5F2F2;
        color: #4B4545;
        letter-spacing: 0.5px;
        font-family: 'Roboto', sans-serif;
        font-size: 19px;
        margin-top: 80px;
    }

    @media all and (max-width:560px) {
        #banniere-img {
            margin-top: 0px;
            margin-bottom: 389px;
        }
    }

    .descriptif:hover {
        box-shadow: 0px 3px 5px rgba(32, 32, 32, 0.15);
        transform: scale(1.01)
    }

    .descriptif img {
        height: 380px;
    }

    .descriptif h3 {
        color: #000000;
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: normal;
        font-family: helvetica;
    }

    .descriptif .col-md-8 {
        padding: 2% 0 0 6%;
        /* line-height: 37px; */
        /* background: grey; */
    }

    .carteSupp {
        padding: 20px;
        border-radius: 10px;
        background: #C5C5D3;
        text-align: center;
        margin-top: 10px;
    }

    .carteSupp .btn-danger {
        background: #CF3030;
        padding: 5px;
    }
    /* =======FOOTER ============*/

    footer {
        background-color: #000;
        color: white;
        padding: 15px;
    }

    footer a {
        color: #fff;
    }

    .icons i {
        margin-left: 10px;
        color: #fff;
    }
    /*=================== Bouton Scroll Top ======================== */

    .fa-arrow-circle-up {
        position: fixed;
        bottom: 60px;
        right: 11px;
        background: #06162D;
        width: 40px;
        height: 42px;
        font-size: 40px;
        border-radius: 100%;
        color: #ffffff;
        cursor: pointer;
        padding: 1px 0px 0px 3px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */

    @media all and (max-width:414px) {
        .title,
        .carte {
            margin-left: -2px;
        }
        .navbar-default .navbar-nav>li>a {
            color: #06162D;
        }
    }

    @media all and (max-width:520px) {
        .btn-warning {
            font-size: 19px;
        }
        .btn-details {
            font-size: 19px;
        }
    }

    @media all and (max-width:560px) {
        .logo-responsive {
            display: block;
            margin-bottom: -79px;
        }
        .carte img {
            width: 106%;
            margin: 0 auto;
            z-index: 4;
            height: 300px;
        }
        .lieux-visite {
            padding-top: 46px;
            padding-bottom: 49px;
            top: 109px;
        }
        .navbar-default .navbar-nav>li>a {
            color: #06162D;
        }
        .navbar-brand {
            margin-top: -55px;
            margin-left: 65px;
        }
        .Top {
            width: 40px;
            height: 40px;
            right: 1px;
            font-size: 30px;
            padding: 1px 1px;
        }
    }

    .descriptif .col-md-8 {
        padding: 2% 16px 0 7%;
        text-align: justify;
        line-height: 35px;
    }

    @media all and (max-width:570px) {
        .banniere-partenaire {
            margin-top: 17px;
        }
        .navbar .navbar-collapse {
            background: #06162D;
        }
    }

    @media all and (max-width:780px) {
        .carte {
            height: auto;
        }
        .navbar-default .navbar-nav>li>a {
            font-size: 12px;
            color: #fff;
        }
    }

    @media (min-width: 768px) {
        .navbar-fixed-side {
            margin-left: -15px;
            margin-right: -15px;
        }
        .navbar-fixed-side .navbar-collapse {
            width: 100%;
            border-top: 1px solid #e7e7e7;
        }
        .navbar-fixed-side .navbar-nav {
            float: none;
            margin: 0 -15px;
        }
        .navbar-fixed-side .navbar-nav>li {
            float: none;
        }
        .navbar-fixed-side .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #e7e7e7;
        }
        .navbar-fixed-side {
            position: fixed;
            margin: 0 -15px;
            height: 100%;
            overflow: auto;
            border-top-width: 0;
            border-bottom-width: 0;
            border-radius: 0;
        }
        .navbar-fixed-side .container,
        .navbar-fixed-side .container-fluid {
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-fixed-side .navbar-header {
            float: none;
        }
        .navbar-fixed-side .navbar-brand {
            height: auto;
        }
        .navbar-fixed-side>.container .navbar-brand,
        .navbar-fixed-side>.container-fluid .navbar-brand {
            margin-left: 0;
        }
        .navbar-fixed-side .navbar-form {
            margin: 0;
            margin-left: -15px;
            margin-right: -15px;
            padding: 10px 15px;
            border-bottom: 1px solid #e7e7e7;
        }
        .navbar-fixed-side .navbar-text {
            float: none;
            margin-left: 0;
            margin-right: 0;
        }
        .navbar-fixed-side .navbar-left,
        .navbar-fixed-side .navbar-right {
            float: none !important;
        }
        .navbar-fixed-side .navbar-nav .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            box-shadow: none;
            border-bottom: 1px solid #e7e7e7;
        }
        .navbar-fixed-side .navbar-nav .dropdown-menu>li>a,
        .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
            padding: 5px 15px 5px 25px;
        }
        .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
        .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
            background-image: none;
        }
        .navbar-fixed-side .navbar-nav .dropdown-menu>.active>a {
            background-color: #e7e7e7;
            color: #555;
        }
        .navbar-fixed-side .navbar-nav>li>a:hover,
        .navbar-fixed-side .navbar-nav>li>a:focus,
        .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover,
        .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus {
            background-color: #f0f0f0;
            color: #333;
        }
        .navbar-fixed-side .dropdown>.dropdown-toggle,
        .navbar-fixed-side .dropdown-menu>.dropdown-header {
            background-color: transparent !important;
            color: #9d9d9d !important;
            cursor: default;
            font-size: 0.8em;
            text-transform: uppercase;
            border-bottom: none;
            padding-bottom: 0;
        }
        .navbar-fixed-side .dropdown-toggle .caret {
            display: none;
        }
        .navbar-fixed-side .dropdown-menu {
            display: block;
        }
        .navbar-fixed-side.navbar-inverse .navbar-collapse,
        .navbar-fixed-side.navbar-inverse .navbar-nav>li>a,
        .navbar-fixed-side.navbar-inverse .navbar-form,
        .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
            border-color: #363636;
        }
        .navbar-fixed-side.navbar-inverse .divider {
            background-color: #363636;
        }
        .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>li>a {
            color: #9d9d9d;
        }
        .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu>.active>a {
            background-color: #090909;
            color: black;
        }
        .navbar-fixed-side.navbar-inverse .dropdown>.dropdown-toggle {
            color: #777777 !important;
        }
    }

    @media all and (max-width:780px) {
        .navbar-brand img {
            margin-left: -60px;
            position: sticky;
            margin-top: -29px;
        }
    }

    @media all and (min-width: 768px) and (max-width: 1000px) {
        .navbar-brand {
            margin-top: -60px;
            margin-left: 330px;
        }
        .navbar-default {
            margin-left: 30px;
        }
    }

    @media all and (max-width:700px) {
        .carousel {
            display: none;
        }
        .btn-danger,
        .btn-warning {
            margin-right: 0px;
            margin-left: 0px;
            margin-top: 15px;
        }
    }

    @media all and (max-width:1080px) {
        .navbar-brand img {
            margin-left: -59px;
            margin-top: -32px;
            display: none;
        }
        .btn-warning {
            font-size: 9px;
        }
        .btn-details {
            font-size: 9px;
        }
    }

    @media all and (min-width: 1000px) and (max-width: 1024px) {
        .navbar-brand {
            margin-top: -55px;
            margin-left: 520px;
        }
        .navbar-default {
            margin-left: 100px;
        }
    }